@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    height: 60px;
    font-weight: 700;
    font-size: 20px;
    background-color: #FD6E0A;
    color: white;

}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav ul {
    display: flex;
    margin: 50px 200px;
}

nav li {
    list-style: none;
    margin-right: 10px;
}